.comment-card{
    width: 100%;
    margin-top: 30px;
    background-color: rgb(244, 235, 235);
    margin-bottom: 20px;
    color: black;
}
.comment-card h3,h4{
    margin-bottom: 10px;
    padding: 20px;
}

.display-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin-bottom: 30px;
}
.delete-btn{
    position: relative;
    right:200px;
    top:55px;
    
}
.delete-btn button{
    background-color: rgb(244, 235, 235);
    margin: 10px auto;
    cursor:pointer;
    outline: none;
}

.comment p{
    padding:0 40px;
    text-align: justify;
    margin-top: 10px;
}
.like-dislike{
    text-align: right;
    margin-right: 40px;
    /* margin-bottom: 20px; */
}
.like-dislike span{
    padding: 10px;
}
.author{
    font-weight: bold;
    margin-right: 40px;
}