* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.head-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.head-container h1{
  font-size: 2rem;
}
.home-container{
  
  margin-left: 10% ;
  margin-right: 10%;
  margin-bottom: 50px;
}
.article-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;

}
.article-Card{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid rgb(138, 73, 73);
  width: 25%;
  margin-bottom: 20px;
  border-radius: 3%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.article-Card > * {
  flex-grow: 1;
  flex-basis: 0;
}
ul {
  list-style-type: none;
}
img {
  width:100%;
  object-fit: cover;
  height: 200px;
  border-radius: 5px;
}
.article-title{
  padding: 10px;
}
.article-Card h5{
  text-align: right;
  padding-right: 10px;
  margin-bottom: 10px;
}
.display{
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}
.heart{
  color: red;
}
.btn-read{
  width: 150px;
  height: 50px;
  background-color: rgb(208, 84, 84);
  margin-bottom: 10px;
  margin:10px auto;
  color:white;
  text-transform: capitalize;
  padding: 0.4em; 
  font-size: 1em;
  font-weight: 400;
}