* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header{
  width: 100vw;
  height: 60px;
  background: rgb(35,84,169);
  /* display: flex; */
}
.nav-link{
  display: flex;
  flex-direction: row;

}
.nav-link a{
  text-decoration: none;
  color: white;
}
.nav-link span{
  padding: 10px;
  display: inline-block;
}
.head-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.home-container{
  margin-left: 10% ;
  margin-right: 10%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
}
.home-container h1{
  font-size: 1.8rem;
  margin-bottom: 20px;
  margin-top: 20px;
}
.article-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;

}
.article-Card{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid rgb(138, 73, 73);
  width: 25%;
  margin-bottom: 20px;
  border-radius: 3%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.article-Card > * {
  flex-grow: 1;
  flex-basis: 0;
}
ul {
  list-style-type: none;
}
img {
  width:100%;
  object-fit: cover;
  height: 200px;
  border-radius: 5px;
}
.article-title{
  padding: 10px;
}
.article-Card h5{
  text-align: right;
  padding-right: 10px;
  margin-bottom: 10px;
}
.display{
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.heart{
  color: red;
  margin: 5px;
  font-size: 1.8rem;
}
.btn-read{

  background-color: rgb(208, 84, 84);
  margin-bottom: 10px;
  margin:10px 50px;
  color:white;
  text-transform: capitalize;
  padding: 0.4em; 
  font-size: 1em;
  font-weight: 400;
  
}
/* article page */
.article-container{
  width: 70vw;
  margin-left: 15%;
  margin-right: 15%;
}
.article-desc{
  display: flex;
  flex-direction: column;
  gap: 1rem;
 
}
.article-desc img{
  width: 100%;
  object-fit: cover; 
  height: 450px;
}
.article-desc h2{
  margin-top: 5%;
}
p{
  line-height: 2rem;
  text-align: justify;
}
.vote{
  font-weight: bold;
  text-align: right;
}
.heart-black{
  cursor: pointer;
  font-size: 2rem;
}
.active{
  color: red;
}
.Nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

